.dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode #login {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode #login input {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode #btnlogin {
    background-color: #666;
    color: #fff;
  }
  
  .dark-mode a {
    color: #fff;
  }
  
  .dark-mode a:hover {
    background-color: #555;
  }
  
  .dark-mode #notificacaoEmail {
    background-image: none;
    background-color: #444;
  }
  
  .dark-mode #inscrever {
    border: 1px solid #be0c2a;
    color: #be0c2a;
  }
  
  .dark-mode #inscrever:hover {
    background-color: #be0c2a;
    color: #fff;
  }